flask
flask-cors
werkzeug
jinja2
itsdangerous
click
blinker
gunicorn
requests
httpx
urllib3
aiohttp
google-api-python-client
google-play-scraper
pycryptodome
pyjwt
python-jose
protobuf
protobuf-decoder
pytz
psutil
python-cfonts
python-telegram-bot
rich
colorama
asyncio
multiprocessing-logging
