Flask
Flask-Cors
Werkzeug
Jinja2
itsdangerous
click
blinker
gunicorn
requests
httpx
urllib3
aiohttp
google-api-python-client
google-play-scraper
pycryptodome
PyJWT
python-jose
protobuf
protobuf-decoder
pytz
psutil
python-cfonts
asyncio
multiprocessing-logging